@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100%;
}
.wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background: url("../images/bg/back 2.png") repeat center center;
}
main {
    
    flex-grow: 1;
  
    color: #fff;
}
.container {
    max-width: 1390px;
    padding: 0 15px;
    margin: 0 auto;
}
