@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.hero{
    height: 100dvh;
    padding-top: 4px;
    &__left{
        max-width: 340px;
        width: 100%;
        @apply flex flex-col pt-[266px];
    }
    &__title{ 
          white-space: nowrap;
	    font-family: 'Press Start 2P',  sans-serif;
	    font-weight: 400;
	    font-size: 20px;
	    font-style: normal;
        height: 90px;
	}
}
